<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name='viewport' content='width=device-width'>
    <title>IOC - Intelligence Operations Center</title>
    <link rel="stylesheet" type="text/css"
          href="{{@contextPath}}/public/app/js/libs/font-wso2_1.0.0/css/font-wso2.min.css" />
    <link rel="shortcut icon" href="{{@contextPath}}/public/app/images/favicon.ico" type="image/x-icon" />
    <link href="{{@contextPath}}/public/app/css/bootstrap.min.css" rel="stylesheet" />
    <link href="{{@contextPath}}/public/app/css/custom.css" rel="stylesheet" />
    <script type="text/javascript" src="{{@contextPath}}/public/app/js/libs/vietbandomapsapi.js?key=b8e07291-af2c-4909-a4a6-a51f9b235a21"></script>
    <script type="text/javascript" src="{{@contextPath}}/public/app/js/libs/VBDMapAPI.js?key=8Rc8LecwoofPQIzGHt4JIHS5kIvphgJgLbzFN9FlWI5W87DBoRdajA=="></script>
    <script type="text/javascript" src="{{@contextPath}}/public/app/js/libs/custom.js"></script>
    <script
            type="text/javascript"
            src="{{@contextPath}}/public/app/js/libs/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous">
    </script>
</head>
<body>
<div id="content"></div>

<script type="text/javascript">var contextPath = "{{@contextPath}}";</script>
<script src="{{@contextPath}}/public/app/js/polyfill.min.js" type="text/javascript"></script>
<script src="{{@contextPath}}/public/app/js/bundle.js" type="text/javascript"></script>
<script type="text/javascript" src="{{@contextPath}}/public/app/js/libs/googlemaps.js?key=AIzaSyCV_uNEj6aSqtnz_iPHElehAWRZNEdUPqM&libraries=places" async defer></script>
</body>
</html>
